<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Coffee cafe- Index</title>
  <!--
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
-->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://getbootstrap.com/docs/3.0.0/examples/cover/cover.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.0/js/bootstrap.min.js"></script>
  <meta content="" name="description">
  <meta content="" name="keywords">


<!-- my addons of bootstrap 
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  -->

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Restaurantly - v3.10.0
  * Template URL: https://bootstrapmade.com/restaurantly-restaurant-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-center justify-content-md-between">

      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-phone d-flex align-items-center"><span>9100566344</span></i>
        <i class="bi bi-clock d-flex align-items-center ms-4"><span> Mon-Sat: 9AM - 10PM</span></i>
      </div>

      <div class="languages d-none d-md-flex align-items-center">
        <ul>
          <li>saimadhuri</li>
          <li><a href="#">@madhu's cafe</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="index.html">Madhu's cafe</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#menu">Menu</a></li>
          <li><a class="nav-link scrollto" href="#Offers">Offers</a></li>
          <li><a class="nav-link scrollto" href="#events">Events</a></li>
          <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>
           <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <a href="#book-a-table" class="book-a-table-btn scrollto d-none d-lg-flex">Book a table</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1>Welcome to <span>coffee cafe</span></h1>
          <h2>Feeling the magic of coffee for more than 20 years!</h2>

          <div class="btns">
            <a href="#menu" class="btn-menu animated fadeInUp scrollto">Our Menu</a>
            <a href="#book-a-table" class="btn-book animated fadeInUp scrollto">Book a Table</a>
          </div>
        </div>
        <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
          <a href="https://www.youtube.com/watch?v=u6BOC7CDUTQ" class="glightbox play-btn"></a>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img">
              <img src="assets/img/about.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>New day start with a coffee,new ideas start with that coffee.</h3>
            <p class="fst-italic">
              Coffee smells like magic and fairytales.Enjoy a cup of coffee with your friends gives us a wonderful memories in our life with great taste.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Coffee with a friend is like capturing happiness in a cup.</li>
              <li><i class="bi bi-check-circle"></i> Coffee doesn't ask silly questions,coffee understands it.</li>
            </ul>
            <p>
              A coffee a day keeps grumpy away.When we start our new day with a cup of coffee gives us confidence all the day and makes us to think new and to make changes in the World.A bad day with coffee is better than a good day without it.....
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
    
    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Menu</h2>
          <p>Check Our Tasty Menu</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-coffees">coffees</li>
              <li data-filter=".filter-cookies">cookies</li>
              <li data-filter=".filter-snackes">Snackes</li>
              <li data-filter=".filter-desserts">desserts</li>
            </ul>
          </div>
        </div>

        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-6 menu-item filter-snackes">
            <img src="assets/img/menu/lobster-bisque.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Pancakes </a><span>50 Rs</span>
            </div>
            <div class="menu-ingredients">
              milk,honey,sugar,flour,cream
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-snackes">
            <img src="assets/img/menu/bread-barrel.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Donuts</a><span>100 Rs</span>
            </div>
            <div class="menu-ingredients">
              milk,honey,sugar,flour,cream,chocolate
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-cookies">
            <img src="assets/img/menu/cake.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Cookies</a><span>20 Rs</span>
            </div>
            <div class="menu-ingredients">
              flour,chocolate,milk,badam
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-cookies">
            <img src="assets/img/menu/caesar.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Dark chocolate cookies</a><span>60 Rs</span>
            </div>
            <div class="menu-ingredients">
              milk,sugar,flour,cream,chocolate
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-desserts">
            <img src="assets/img/menu/tuscan-grilled.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">chocolate cakes</a><span>80 Rs</span>
            </div>
            <div class="menu-ingredients">
              milk,sugar,flour,chocolate,strawberries,cream
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-coffees">
            <img src="assets/img/menu/mozzarella2.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Americano coffee</a><span>80 Rs</span>
            </div>
            <div class="menu-ingredients">
              milk,cream,coffee powder
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-desserts">
            <img src="assets/img/menu/greek-salad.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Waffles</a><span>100 Rs</span>
            </div>
            <div class="menu-ingredients">
              milk,honey,sugar,flour,cream
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-coffees">
            <img src="assets/img/menu/spinach-salad.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Cappuccino coffee</a><span>90 Rs</span>
            </div>
            <div class="menu-ingredients">
              milk,cream,coffee powder
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-desserts">
            <img src="assets/img/menu/lobster-roll.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Macarons</a><span>50 Rs</span>
            </div>
            <div class="menu-ingredients">
              milk,sugar,flour,cream,chocolate
            </div>
          </div>
           
          <div class="col-lg-6 menu-item filter-coffees">
            <img src="assets/img/menu/mozzarella1.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Mocha coffee</a><span>75 Rs</span>
            </div>
            <div class="menu-ingredients">
              milk,cream,coffee powder
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-coffees">
            <img src="assets/img/menu/spinach-salad.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Macchlate coffee</a><span>80 Rs</span>
            </div>
            <div class="menu-ingredients">
              milk,cream,coffee powder,ice
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-coffees">
            <img src="assets/img/menu/mozzarella2.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Double chocolate coffee</a><span>90 Rs</span>
            </div>
            <div class="menu-ingredients">
              milk,cream,coffee powder
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-coffees">
            <img src="assets/img/menu/mozzarella1.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">cold coffee</a><span>70 Rs</span>
            </div>
            <div class="menu-ingredients">
              milk,cream,coffee powder
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-coffees">
            <img src="assets/img/menu/mozzarella3.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Expresso coffee</a><span>90 Rs</span>
            </div>
            <div class="menu-ingredients">
              milk,cream,coffee powder
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Menu Section -->

    <!-- ======= Offers Section ======= -->
    <section id="Offers" class="offers">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Offers</h2>
          <p>Check Our offers</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Donut-coffee</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Mocha macarons</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">couple Cappuccino-pancakes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Waf-coffee-cookies</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Des-Americano</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Donut-Coffee</h3>
                    <p class="fst-italic">Double chocolate coffee with double donuts....................100 Rs</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Mocha macarons</h3>
                    <p class="fst-italic">Mocha coffee with macarons....................100 Rs</p>
                  
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
               </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>couple Cappuccino-pancakes</h3>
                    <p class="fst-italic">couple cappuccino coffees with pancakes...................200 Rs</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Waf-coffee-cookies</h3>
                    <p class="fst-italic">Waffels with cookies and cold coffee..................200 Rs</p>
                </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
               </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Des-Americano</h3>
                    <p class="fst-italic">Americano coffee with any two desserts.....................210 Rs</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Offers Section -->

    <!-- ======= Events Section ======= -->
    <section id="events" class="events">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Events</h2>
          <p>Organize Your Events in our cafe</p>
        </div>

        <div class="events-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="row event-item">
                <div class="col-lg-6">
                  <img src="assets/img/event-birthday.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Mini Birthday Parties</h3>
                  <div class="price">
                    <p><span>@2000</span></p>
                  </div>
                  <p class="fst-italic">
                  Enjoy with your friends in Birthday parties which is the memorable movements occurs in our lives.fried is the only person which gives support in our lives in every situations.
                  </p>
                  <ul>
                    <li><i class="bi bi-check-circled"></i> combo coffees</li>
                    <li><i class="bi bi-check-circled"></i>special Birthday cakes</li>
                    <li><i class="bi bi-check-circled"></i>snackes to chill out </li>
                  </ul>
                  <p>
                    Enjoy your birthday very specially with your friends with the feeling of magic in coffee..
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="row event-item">
                <div class="col-lg-6">
                  <img src="assets/img/event-private.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Mini Private Parties</h3>
                  <div class="price">
                    <p><span>@2000</span></p>
                  </div>
                  <p class="fst-italic">
                   Enjoy with your colligues with the breaze of coffee to discuss about office projects effectively 
                  </p>
                  <ul>
                    <li><i class="bi bi-check-circled"></i> combo coffees</li>
                    <li><i class="bi bi-check-circled"></i> special snackes </li>
                    <li><i class="bi bi-check-circled"></i> combo donuts with macarons</li>
                  </ul>
                  <p>
                   discuss about your office issues and projects with a cup of coffee will gives result to make new decisions heartfully.
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="row event-item">
                <div class="col-lg-6">
                  <img src="assets/img/event-custom.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Friends Gatherings</h3>
                  <div class="price">
                    <p><span>@2000</span></p>
                  </div>
                  <p class="fst-italic">
                    spent time with your friends is the only aim of every person that doesn't come back.make that with a coffee
                  </p>
                  <ul>
                    <li><i class="bi bi-check-circled"></i> special snackes</li>
                    <li><i class="bi bi-check-circled"></i> desserts</li>
                    <li><i class="bi bi-check-circled"></i> special chocolate coffees</li>
                  </ul>
                  <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Events Section -->

    <!-- ======= Book A Table Section ======= -->
    <section id="book-a-table" class="book-a-table">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Reservation</h2>
          <p>Book a Table</p>
        </div>

      <form action="/viewsdir" method="get" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
          <div class="row">
            <div class="col-lg-4 col-md-6 form-group">
              <input type="varchar" name="Name" class="form-group" id="Name" placeholder="Name">
              
            </div>
            <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
              <input type="varchar" class="form-group" name="Email" id="Email" placeholder="Email">
              
            </div>
            <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
              <input type="int" class="form-group" name="Contact" id="Contact" placeholder="Contact"">
              
            </div>
            <div class="col-lg-4 col-md-6 form-group mt-3">
              <input type="date" name="Date" class="form-group" id="Date" placeholder="Date">
              
            </div>
            <div class="col-lg-4 col-md-6 form-group mt-3">
              <input type="int" class="form-group" name="Numbers" id="Numbers" placeholder="Numbers">
              
            </div>
            <div class="col-lg-4 col-md-6 form-group mt-3">
              <input type="varchar" class="form-group" name="Event" id="Event" placeholder="Event">
             
          </div>
          
            <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
          </div>
          <button type="submit" onclick="alert('table reserved')">Book a Table</button>
        
         <div class="text-center"><!-- <button type="submit" onclick="alert('table reserved')">Book a Table</button> --> </div>
        </form>

        <?php


      </div>
    </section><!-- End Book A Table Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>What they're saying about us</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  We want to do a lot of stuff.we didn't get a good night sleep.coffee solves this in one delightful little cup.thank u madhu's coffee cafe..
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <h3>sailaja</h3>
                <h4>Ceo of ss groups</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  coffee with a friend is like capturing happiness in a cup.It is very happy to experience that in your cafe..
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <h3>keerthana</h3>
                <h4>Designer</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  The depression is one of the feeling i got when i ran out of the coffee.It gives relaxation from depression and sad beginning of mornings..
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                 <h3>surya</h3>
                <h4>Store Owner</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  coffee doesn't ask silly questions,coffee understands it.Coffee become my best partner in many tough situations in my life..
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              <h3>vamsi krishna</h3>
                <h4>Freelancer</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Sometimes i don't need an inspirational quote.I need just a cup of coffee and it's mainly from madhu's coffee cafe..
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
               <h3>madhuri latha</h3>
                <h4>Entrepreneur</h4>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">

      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Gallery</h2>
          <p>Some photos from Our cafe</p>
        </div>
      </div>

      <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-0">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-1.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="assets/img/gallery/gallery-1.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-2.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="assets/img/gallery/gallery-2.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-3.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="assets/img/gallery/gallery-3.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-4.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="assets/img/gallery/gallery-4.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-5.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="assets/img/gallery/gallery-5.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-6.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="assets/img/gallery/gallery-6.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-7.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="assets/img/gallery/gallery-7.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-8.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="assets/img/gallery/gallery-8.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Gallery Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>
      </div>
      <div class="container" data-aos="fade-up">

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>GandhiNagar,near hebron church,vijayawada</p>
              </div>

              <div class="open-hours">
                <i class="bi bi-clock"></i>
                <h4>Open Hours:</h4>
                <p>
                  Monday-Saturday:<br>
                  09:00 AM - 10:00 PM
                </p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>madhurisai2000@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>9100566344</p>
              </div>

            </div>

          </div>

          

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Coffee cafe</h3>
              <p>
                GandhiNagar,near hebron church <br>
                plotno:77,Vijayawada<br><br>
                <strong>Phone:</strong>9100566344<br>
                <strong>Email:</strong>madhurisai2000@.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Products Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>If you like our services Please subscribe</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Coffee cafe</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/restaurantly-restaurant-template/ -->
        Designed by <a href="https://bootstrapmade.com/">@Saimadhuri</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>